@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    6195 Purcell Road<br />
    Oregon, WI 53575-1727<br />
    <abbr title="Phone">P:</abbr>
    608.291.2189<br />
    <abbr title="Cell">C:</abbr>
    608.358.8015
</address>

<address>
    <strong>Support:</strong> <a href="mailto:rkevinburton@charter.net">rkevinburton@charter.net</a><br />
</address>
